extends layout

block content
  #token=token
  .title-images
    img#person-2(src='images/boy02.png')
    img#person-3(src='images/girl.png')
    img#person-1(src='images/boy01.png')
  div(class='btn-holder')
    button#from-library(class= 'btn left', data-action= 'do-something').
      Choose from library
    button#take-photo(class= 'btn right', data-action= 'do-something').
      Take a photo

