extends layout

block content
  #token=token
  .title-images
    img#person-2(src='images/boy02.png')
    img#person-3(src='images/girl.png')
    img#person-1(src='images/boy01.png')
  div(id='btn-holder')
    input(accept="image/*", type="file", id="file")
    img#take-photo(src='images/camera_png.png')
    span Take a photo